/* global styles */

:root {
    --primary-font-color: #2B2B2B;
    --muted-font-color: #6a6a6a;
    --bg-primary: #FDFBF7;
    font-family: "IM Fell English", serif;
    --header-font: "IM Fell English", serif;
    --content-font: "EB Garamond", serif;
    --max-content-width: 520px;
    --content-width: 80%;
}

.heading-font {
  font-family: "IM Fell English", serif;
  font-weight: 100;
}

.content-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* reset styles */

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-primary);
    padding-top: 3%;
}

a {
    color: var(--primary-font-color);
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

/* layout styles */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.center-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* utility styles */

.red-border {
    border: 1px solid red;
}

.text-center {
    text-align: center;
}

.separator {
    border: .3px solid var(--muted-font-color);
    width: 100%;
    max-width: var(--max-content-width);
}

.content-container {
    width: var(--content-width);
    max-width: var(--max-content-width)
}

.content-font {
    font-family: var(--content-font);
}

.hoverable {
   transition: text-shadow 0.5s ease;
}

.hoverable:hover {
    text-shadow: 
    0 0 10px #3D2C1E,
    0 0 5px #2C221E;
}

.icon {
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    color: var(--primary-font-color);
    transform: scale(1) rotate(0);
    transition: transform 100ms ease-in-out;
}

.icon:hover {
    transform: scale(1.2) rotate(10deg);
}

.home-btn {
    width: 1.75rem;
    height: 1.75rem;
    display: block;
    color: var(--primary-font-color);
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.my-4 {
    margin: 4px 0;
}

.my-8 {
    margin: 8px 0;
}

.my-16 {
    margin: 16px 0;
}

.my-24 {
    margin: 24px 0;
}

.mt-24 {
    margin-top: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.px-4 {
    padding: 0 4px;
}

.px-8 {
    padding: 0 8px;
}

.py-4 {
    padding: 4px 0;
}

.py-8 {
    padding: 8px 0;
}

.py-16 {
    padding: 16px 0;
}

.py-24 {
    padding: 24px 0;
}

.pt-8 {
    padding-top: 8px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-16 {
    padding-top: 16px;
}

.pb-12 {
    padding-bottom: 16px;
}

.pb-14 {
    padding-bottom: 16px;
}

.pb-16 {
    padding-bottom: 16px;
}

.muted-text {
    color: var(--muted-font-color);
}

.text-lg {
    font-size: large;
}

.text-xl {
    font-size: x-large;
}

.text-xxl {
    font-size: xx-large;
}

.text-xxxl {
    font-size: xxx-large;
}

/* footer styles */
.footer {
    width: var(--content-width);
    max-width: var(--max-content-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer .menu {
    width: 100%;
}

.contact a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    color: var(--primary-font-color);
    height: 20px;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.15s;
}

/* navigation menu */
.main-nav {
    width: var(--content-width);
    max-width:var(--max-content-width);
    padding: 25px 0;
}

.main-nav li a {
    transition: transform 100ms ease-in-out;
}

.main-nav li a:hover {
    transform: scale(1.03)
}

.main-nav ol {
    list-style:none;
    margin:0; 
    padding:0;
    counter-reset: chapter;
}

.main-nav li{
    counter-increment: chapter;
    padding: 22px 0;
}

.main-nav a {
    display:flex;
    align-items:baseline;
    gap: 4px;
    text-decoration:none;
    letter-spacing: 1px;
}

/* leader dots */
.main-nav a::before{
    content:'';
    order: 2;
    flex: 1;
    align-self: flex-end;
    margin-bottom: 2px;
    height: .6em;
    background-repeat: space no-repeat;
    background-image: radial-gradient(circle, var(--primary-font-color) 20%, transparent 21%);
    background-size: .6em .6em;
    background-position: 0 50%;
    color: var(--primary-font-color);
    opacity:.85;
}

/* roman numeral based on li position */
.main-nav a::after{
    content: counter(chapter, upper-roman);
    order: 3;
    color: var(--primary-font-color);
    opacity:.9;
}

.page-number {
    font-size: 22px;
}